.App {
  text-align: center;
}
.heading {
  line-height: 0%;
  margin: 60px auto;
}
h1 {
  color: red;
  font-size: 7.5vh;
}
.green {
  color: green;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 7.5px;
  border: 5px solid burlywood;
  box-shadow: 7px 4px 6px 6px grey;
  padding: 20px;
  border-radius: 30px;
  background-color: antiquewhite;
}
.topBox, .footBox {
  background-color: antiquewhite;
  border: 5px solid burlywood;
  margin: 0 auto;
  width: 200px;
  box-shadow: 7px 4px 6px 6px grey;
}
.topBox {
  transform: translate(0%, 35%);
}
.lineHeight {
  line-height: 0%;
  font-size: 2.5vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.newGame {
  background-color:rgb(142, 174, 235);
  border: 2px solid darkgoldenrod;
  padding: 5px 50px;
  margin: 0px 5px;
  font-size: 2.5vh;
  font-weight: 600;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.newGame:hover {
  color: white;
  background-color: goldenrod;
}
.footBox { 
  padding: 10px 0;
  margin-bottom: 35px;
  width: 250px;
}

.gameCircle {
  border: 5px solid burlywood;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px auto;
}
.player_0 {
  background-color: white;
}
.player_1 {
  background-color: green;
}
.player_2 {
  background-color: red;
}